@model List<Arma>

<div class="container mt-5">
        <h1 class="mb-4">Tienda de Armas</h1>
        <div class="row">
            @foreach (var weapon in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@weapon.Nombre</h5>
                            <p class="card-text"><strong>Costo:</strong> @weapon.Costo oros</p>
                            <p class="card-text"><strong>Alcance:</strong> @weapon.Alcance</p>
                        <form asp-action="Comprar" asp-controller="Tienda" method="post">
                            <input type="hidden" name="Nombre" value="@weapon.Nombre" />
                            <input type="hidden" name="Costo" value="@weapon.Costo" />
                            <input type="hidden" name="Alcance" value="@weapon.Alcance" />
                            <button type="submit" class="btn btn-success">Comprar</button>
                        </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
