@model Personaje

<div>
    <img src="@Model.ImagenUrl" alt="@Model.Nombre" />
    <h2>@Model.Nombre</h2>
    <p>Especie: @Model.Especie</p>
    <p>Tipo: @Model.Tipo</p>
    <p>Género: @Model.Genero</p>
</div>
